#title {
  height: 850px;
position: fixed;


}
.button {
    width: 100px;
    height: 50px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 0;
    color: red;
}
input {
  width: 150px;
  position: relative;
  top: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;

}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  color: white !important;
  font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold', sans-serif;
}

p {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1rem;
  color: #434242;
  line-height: 1.5rem;
}

.angela {
  color: #434242;
}

.future-title {
  text-align: left;
}


.big-heading {
  color:  #62C97A;
  text-align: left;
  position: relative;
}

.img-fluid {
  margin: 10px;
  border: 1px solid white;
  background-color: white;
  outline: 10px solid #62C97A;
  outline-offset: 0px;







}
.btn-outline-success:hover {
    color: #fff;
    background-color: #62C97A;
    border-color: #62C97A;
}


#home {
  background-color: white;
}
.cv-button {
  background-color: #440047;
  position: relative;
  left: 100px;
  top: 50px;


}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 50%;
    position: absolute;
  z-index: 2000px;


}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{


    width: 100%;
    height:100vh;


}

.circles{

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;


}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(98,201,122);
    animation: animate 25s linear infinite;
    bottom: -150px;


}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



.container-fluid {
  position: fixed;
  z-index: 500;

}
.list col-lg-6 {
position: relative;
left: 400px;

}

#navbarSupportedContent {}

.navbar {
  font-family: 'Ubuntu', sans-serif;


}
.collapse {

}

.nav-item {
  padding-left: 25px;
}

.navbar-nav a {
  color: #434242 !important;
}

.nav-link {}

  .list {
    position: relative;
    top: 200px;
    left: 20px;
    text-align: left;
  }

.green {
  background-color: #62C97A;
  height: 750px;
  position: absolute;
  width: 400px;
  top: 0px;
  left: 0px;
  z-index: 50;
  background: color red url(background-image:"images/codding.jpg");
}
/* footer */
.footer-copyright{
  background-color: #440047;

}
#footer {

  position: relative;

  padding-top: 300px;



}
#footer h1 {
  padding-top: 50px;
}
.contact{
  text-align: center;
  background-color: #440047;



}
.email{
  margin-left: 20px;
  color: #62C97A;
}
.copyright{
  color: #62C97A;
}
.avable{
  margin-bottom: 0px;
  padding-bottom: 100px;
  position: relative;
  top:130px;
  color: #ccf6c8;
    font-family: 'Montserrat-Bold', sans-serif;

}

.fb-ic{
  color: #62C97A;

}
.li-ic{
  color: #62C97A;
}
.git-ic{
  color: #62C97A;
}
.contact-me{
    color: #62C97A;
    position: relative;








}

.page-footer{
  background-color: #440047;
  padding-top: 200px;



}

.row {
  padding: 12% 15%;
  text-align: left;
  width: 100%;

}

#image_canv {
  height: 324px;
  width: 216px;
  position: relative;
  left: 180px;
  top: 40px;
  border: none;
  z-index: 60;
}

.image {
  position: relative;
  right: 40px;
}

@media (max-width: 1000px) {
  .row {
    text-align: left;

  }
  .list-group-item{
    padding: 7% 10%;
  }

  .green{
    position: absolute;
    z-index: -100;

  }
  #projects{
    position: relative;
    z-index: 0;


  }
  .testimonial-image{


  }
  .carousel-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  .carousel-item{
    position: relative;
    text-align: center;






  }
  .page-footer{
    background-color: #440047;
    position: relative;
      z-index: 700;
      top: 250px;


  }


  .list {
    position: static;
  }

  .row {
    text-align: center;
  }
}

/* experiences */
#Experiences {

  position: relative;

  padding: 7% 15%;
  background-color: #f6f7d4;
  width: 100%;
  padding-bottom: 0px;
  top: 750px;

}

.exp {
  text-align: center;
  color: #440047;
}





#exp-paragraph {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}
.experience{
  padding-top: 0px;
}

hr {
  margin: 40px;
}

.education {
  color: #62C97A;
}

.career {
  color: #440047;
}

h4 {
  line-height: 1.4;
  color: #440047;
}

strong {
  color: #440047;
}

.dagree {
  width: 300px;
  line-height: 1.8;
  text-align: left;
}

.col-md-6 {
  text-align: left;
  padding: 7% 10%;
}

.udemy {
  padding-top: 20px;
  text-align: center;
}

.intellect-center-Certificate {
  text-align: left;
}

.intellect-center-date {
  margin-bottom: 0px;
}

/* #skills */
.skills-div {
  margin: auto;
  padding-top: 100px;

}

#skills {
  padding: 7% 15%;
  position: relative;
  top: 700px;


  background-color: white;





}
#carouselExampleSlidesOnly{
position: relative;
z-index: 200;


}

#projects{
  position: relative;
  top: 550px;
  background-color: #f6f7d4;
  padding: 7% 15%;
  text-align: center;



}
#projects h3{
  padding-bottom: 50px;
}
#projects h1{
  padding-bottom: 50px;
  color: #440047;
}

.my-skills {
  text-align: left;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;


}
.carousel-item{
  position: relative;

height: 400px;
text-align: center;


}
.testimonial-image{
  border-radius: 15%;

height: 300px;
width: 656px;

}

.icon{
  position: absolute;
  left: 770px;
  top: 60px;

}




#skills li {
  display: inline-block;
  position: relative;

  font-size: 1.2rem;
  font-family: 'Montserrat-Bold', sans-serif;
  border: 1px solid transparent;

}

#skills li:hover {
  background-color: #ebebeb;
  font-size: 1.2rem;
  padding-right: 1px;


}


.col-md-12 {

}


.lists {
  text-align: left;
}

/* icons */
.fas {
  color: #62C97A;
  padding-left: 10px;
}

  /* list icons */
  .ability-score {



  float: right;



  }
  .mb-5{

  }
  .far{
    padding-left: 10px;
    color: #62C97A;
    font-size: 0.9rem;

  }

  .css-score {
    position: relative;

    float: right;
  }


  .bootstrap-score {
    position: relative;
    float: right;

  }
  .javascript{
    position: relative;
    float: right;
  }
  .jquery{
    position: relative;
    float: right;
  }
  .wordpress{
    position: relative;
    float: right;
  }
  .mysql{
    position: relative;
    float: right;
  }
  .seo{
    position: relative;
    float: right;
  }

  .fa-xs {
    font-size: 0.5rem;
  }
  .contact-me{
    position: relative;



  }


  /* contact-page */

  .contact-page{

    margin: auto;
    background-color: #440047;
    text-align: center;
    padding: 7% 15%;
  }
  .contact-page h1{
    color: #ccf6c8;
  }
  .name-form{
    height: 25px;
    margin-bottom: 10px;

    font-size: 1.2rem;
  }
  .email-form{
    height: 25px;
    margin-bottom: 10px;
    margin-left: 5px;

    font-size: 1.2rem;


  }
  .name-label{
    color: #ccf6c8;
    font-size: 1.2rem;
  }
  .email-label{
    color: #ccf6c8;
    font-size: 1.2rem;
  }
  #finalrow{
    text-align: center;
    display: block;

  }

  /* projects */
